@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ddd;
}

h3 {
  margin: 15px 0;
}

button {
  padding: 15px;
  cursor: pointer;
  outline: none;
  background-color: #5d3891;
  border: none;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
}

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.app > p {
  margin-bottom: 30px;
}

.nestedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.companies {
  display: flex;
  flex-direction: column;
  width: 39%;
}

.currentInput {
  width: 95%;
}

#photo {
  width: 50%;
}
#addBtn {
  background-color: green;
  margin-right: 5px;
}
#deleteBtn {
  background-color: red;
}
